
body{

    margin-top: 0;
}

/*MainPage header styles*/

.MainPage{

    margin-top: 0;
}

header{
    
    margin-top: 0;
    display: flex;
    align-items: center; 
    flex-flow: row wrap; 
    
}

.Logo{

    height: 40px;

}

.HeadLiner{

    font-size: 40px;    
    margin: 10px;
    font-family: k2d-regular-italic;

}

.LogInBtn {

    font-size: 20px;
    margin-left: auto;
    font-family: k2d-regular, sans-serif;

}


