
body{

    margin-top: 0;
}

.MainPage{

    margin-top: 0;
}

/*MainPage MainHeader styles*/

header{
    
    margin-top: 0;
    display: flex;
    align-items: center; 
    flex-flow: row wrap; 
    
}

.Logo{

    height: 40px;

}

.HeadLiner{

    font-size: 40px;    
    margin: 10px;
    font-family: k2d-regular-italic;

}

.LogInBtn {

    font-size: 20px;
    margin-left: auto;
    font-family: k2d-regular, sans-serif;

}

/*MainPage CodeInputArea styles*/

.InputFieldArea{

    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;

}

.InputFieldAreaText{

    font-size: 20px;
    font-family: k2d-regular, sans-serif;

}

.InputFieldAreaBtn{

    margin: 0px 25px 0px 25px;
    
}